footer {
  border-top: 2px solid #002535;
  width: 100%;
  height: auto;
  background: rgb(136, 205, 245);
  position: relative;

  .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;

    .update-form {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      flex-direction: column;
      background: linear-gradient(
        to bottom,
        rgba(144, 212, 243, 1) 0%,
        rgba(38, 155, 250, 1) 80%,
        rgba(149, 207, 255, 1) 100%
      );
      padding: 2rem;
      color: rgb(8, 76, 107);

      .form-title {
        margin-bottom: 1rem;
        color: #02364d;
        font-weight: 600;
        border-bottom: 2px solid;
        padding-bottom: 0.5rem;
      }

      input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #02364d;
        outline: none;
        padding: 5px;
        position: relative;

        &:focus {
          transform: scale(1.1);
          color: rgb(113, 5, 255);
        }

        &:hover {
          cursor: pointer;
        }
      }

      .email-input,
      .name-input {
        margin-bottom: 1rem;
      }

      label:after {
        content: " *";
      }

      .submit {
        margin-top: 10px;
        border-radius: 5px;
        padding: 0.4rem 1rem;
        border: none;
        outline: none;
        background: rgba(2, 128, 153, 0.815);
        color: rgb(236, 221, 255);
        transition: all 0.3s ease-in;
        border: 1px solid transparent;

        &:hover {
          background-color: #002535;
          color: rgb(255, 0, 157);
          border: 1px solid rgb(0, 18, 26);
          cursor: pointer;
        }
      }
    }

    .social-media {
      border-top-left-radius: 20px;
      width: 100%;
      height: 100%;
      flex-direction: column;
      background: linear-gradient(
        to bottom,
        rgb(0, 18, 26) 0%,
        rgb(19, 61, 95) 80%,
        rgb(0, 7, 12) 100%
      );
      padding: 1rem;

      p {
        color: $third;
        font-size: 1.2rem;
        border-bottom: 2px solid;
      }

      .icons a i {
        padding-top: 1rem;
        color: $third;
        font-size: 1.8rem;
        margin: 0 0.6rem;
        transition: all 0.4s ease-in;

        &:hover {
          color: rgb(255, 0, 157);
        }
      }
    }
  }
}
