footer {
  width: 100%;
  height: auto;
  background: rgb(0, 0, 0);
  position: relative;

  .container {
    width: 80%;
    justify-content: space-evenly;

    h1 {
      color: $third;
    }
  }
}
