.landing {
  min-height: 100vh;
  max-width: 100vw;
  background: url("./../img/cool\ beachjpg.jpg") no-repeat;
  background-position: 0 0;
  background-size: auto auto;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: hard-light;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  @include tablet {
    background-position: 0 0;
  }

  @include bigTablet {
    background-position: -100px 0;
    min-height: 80vh;
  }

  .blurE {
    background: transparent;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .z {
    z-index: 9 !important;
  }

  .heading {
    position: relative;
    border-radius: 10px;
    width: auto;
    margin: 2.5rem auto 2rem;
    height: auto;
    z-index: 10;
    transition: all 0.4s ease-in-out;

    &:hover {
      li a i {
        color: $secondary;
      }
    }

    li {
      transition: inherit;
      position: relative;
      padding: 1.5rem;

      a {
        padding: 0;
        margin: 0;
        position: relative;
        color: $primary;
        font-size: 1.5rem;
        transition: all 0.2s ease-in-out;

        i {
          transition: inherit;
        }

        &:hover i {
          color: $third;
        }

        i:hover {
          transform: scale(2);
        }
      }
    }
  }

  .showcase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // flex-grow: 1;
    text-align: center;
    height: auto;
    width: auto;
    flex-direction: column;

    @include bigTablet {
      transform: translate(-50%, -32%);
    }

    .text {
      border-radius: 10px;
      // padding: 1.5rem;
      flex-direction: column;

      .title {
        color: $third;
        font-size: 4rem;
        letter-spacing: 1.1rem;
        transform: skewX(-10deg);
        cursor: context-menu;
        margin-bottom: 1px;

        @include phone {
          font-size: 2.7rem;
        }
      }
      .description {
        display: block;
        margin-top: 2rem;
        font-size: 1.5rem;
        color: $third;
        transition: all 0.4s ease-in-out;
        font-weight: 500;
        padding: 1rem;
        border-radius: 50px;
        background: rgba(202, 240, 248, 0.7);
        animation: up-down;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        border: 1px solid rgba(202, 240, 248, 0.9);

        &:hover {
          background: rgba(202, 240, 248, 0.9);
          color: rgb(22, 108, 165);
        }

        @include phone {
        }
      }
    }
  }
}
