.near-by {
  border-top: 2px solid #002535;
  padding: 1px 0 1px;
  width: 100%;
  min-height: 300px;
  background-image: linear-gradient(
    to bottom,
    rgba(2, 70, 102, 0.774) 0%,
    rgba(38, 155, 250, 0.5) 80%,
    rgba(149, 207, 255, 0.815) 100%
  );

  .container {
    width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 3rem;
    justify-content: center;

    @include phone {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    @include tablet {
      grid-template-columns: repeat(2, 350px);
      grid-gap: 2rem;
    }

    @include bigTablet {
      grid-template-columns: repeat(2, 475px);
      grid-gap: 2rem;
    }

    .content {
      background: rgba(2, 128, 153, 0.137);
      border: 1px solid rgba(2, 128, 153, 0.815);
      padding: 2rem;
      transition: all 0.3s ease-in-out;
      border-radius: 5px;
      flex-direction: column;

      &:hover {
        background: rgba(2, 128, 153, 0.815);
      }

      &:nth-of-type(3) {
        @include tablet {
          grid-column: 1 / -1;
        }

        @include bigTablet {
          grid-column: 1 / -1;
        }
      }

      i {
        margin-right: 2rem;
        font-size: 2rem;
        color: #002535;
      }

      p {
        font-size: 1.2;
        color: #bfd2d9;
      }
    }
    a {
      margin-top: 1rem;
      color: $primary;
      position: relative;
      transition: all 0.5s ease-in-out;
      padding-bottom: 8px;

      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: -2px;
        width: 0;
        height: 0;
        background: transparent;
      }

      &:hover {
        color: rgb(186, 216, 240);
        &:before {
          animation: border-animation 0.75s linear forwards;
        }
      }
    }
  }
}
